{{ $pages := slice }}
{{ $context := .context | default (page) }}

{{/* source is a string array:
  - "*"     -> site.AllPages
  - "~"     -> page.Pages
  - "path"  -> (site.GetPage "<context-path>/path").Pages
  - "/path" -> (site.GetPage "/path").Pages
*/}}
{{ $source := .source }}
{{ with $source }}
  {{ if not (reflect.IsSlice $source) }}
    {{ $source = slice $source }}
  {{ end }}
  {{ range $source }}
    {{ if eq . "*" }}
      {{ $allPages := partialCached "utils/allPagesNoDuplicates" "" "" }}
      {{ $pages = $pages | append $allPages }}
    {{ else if strings.Contains . "*" }}
      {{ $allPages := site.AllPages }}
      {{ $regex := partial "utils/globToRegex" . }}
      {{ range $allPages }}
        {{ if findRE $regex .Path }}
          {{ $pages = $pages | append . }}
        {{ end }}
      {{ end }}
    {{ else if eq . "~" }}
      {{ $pages = $pages | append $context.Pages }}
    {{ else }}
      {{ $page := . }}
      {{ if not (hasPrefix $page "/") }}
        {{ $page = path.Join $context.Path $page }}
      {{ end }}
      {{ $section := site.GetPage $page }}
      {{ if not $section }}
        {{ warnf "section not found %q (context: %q, path: %q)" $page $context.Path . }}
      {{ end }}
      {{ $pages = $pages | append $section.Pages }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ if .pages }}
    {{ $pages = .pages }}
  {{ else if .section }}
    {{ $pages = .section.Pages }}
  {{ else if .sections }}
    {{ range .sections }}
      {{ $pages = $pages append (slice .Pages) }}
    {{ end }}
  {{ else }}
    {{ $pages = site.AllPages }}
  {{ end }}
{{ end }}

{{ $filterType := default nil nil }}
{{ $filterTraits := default nil nil }}
{{ $filterExcludeTraits := default nil nil }}
{{ $filterPath := default nil nil }}
{{ $filterLevel := default nil nil }}
{{ $filterHasTitle := false }}
{{ $filterNavigable := false }}
{{ $filterParamsEq := slice }}
{{ $filterParamsIn := slice }}
{{ $filterParamsHas := slice }}
{{ $filterParamsContains := slice }}
{{ $filterParamsNotEq := slice }}
{{ $filterParamsNotIn := slice }}
{{ $filterParamsNotHas := slice }}
{{ $filterParamsNotContains := slice }}
{{ $filterTitleType := "" }}

{{ with .filter }}
  {{ if isset . "type" }}
    {{ $filterType = add "pf" .type }}
  {{ end }}
  {{ if .traits }}
    {{ $filterTraits = .traits }}
  {{ end }}
  {{ if .excludeTraits }}
    {{ $filterExcludeTraits = .excludeTraits }}
  {{ end }}
  {{ if isset . "path" }}
    {{ $filterPath = .path }}
  {{ end }}
  {{ if isset . "level" }}
    {{ $filterLevel = int .level }}
  {{ end }}
  {{ if isset . "hasTitle" }}
    {{ $filterHasTitle = true }}
  {{ end }}
  {{ if isset . "navigable" }}
    {{ $filterNavigable = true }}
  {{ end }}
  {{ if isset . "params" }}
    {{ range $key, $value := .params }}
      {{ $keyPath := strings.Split $key "." }}
      {{ if and (reflect.IsMap $value) (isset $value "$in") }}
        {{ $filterParamsIn = $filterParamsIn | append
          (dict "key" $keyPath "value" (index $value "$in"))
        }}
      {{ else if and (reflect.IsMap $value) (isset $value "$contains") }}
        {{ $filterParamsContains = $filterParamsContains | append
          (dict "key" $keyPath "value" (index $value "$contains"))
        }}
      {{ else if and (reflect.IsMap $value) (isset $value "$has") }}
        {{ $filterParamsHas = $filterParamsHas | append
          (dict "key" $keyPath "value" (index $value "$has"))
        }}
      {{ else if and (reflect.IsMap $value) (isset $value "$not") }}
        {{ $value1 := index $value "$not" }}
        {{ if and (reflect.IsMap $value1) (isset $value1 "$in") }}
          {{ $filterParamsNotIn = $filterParamsNotIn | append
            (dict "key" $keyPath "value" (index $value1 "$in"))
          }}
        {{ else if and (reflect.IsMap $value1) (isset $value1 "$contains") }}
          {{ $filterParamsNotContains = $filterParamsNotContains | append
            (dict "key" $keyPath "value" (index $value1 "$contains"))
          }}
        {{ else if and (reflect.IsMap $value1) (isset $value1 "$has") }}
          {{ $filterParamsNotHas = $filterParamsNotHas | append
            (dict "key" $keyPath "value" (index $value1 "$has"))
          }}
        {{ else }}
          {{ $filterParamsNotEq = $filterParamsNotEq | append
            (dict "key" $keyPath "value" $value1)
          }}
        {{ end }}
      {{ else }}
        {{ $filterParamsEq = $filterParamsEq | append
          (dict "key" $keyPath "value" $value)
        }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $filterTitleType = .titleType | default "" }}
{{ end }}

{{/* name, level, source, navigation */}}
{{/* default: level, name */}}
{{ $defaultSortForamt := "%02[2]d__%[1]s" }}
{{ $sortFormat := "" }}
{{ if .sort }}
  {{ range .sort }}
    {{ $pattern := "" }}
    {{ if eq . "name" }}
      {{ $pattern = "%[1]s" }}
    {{ else if eq . "level" }}
      {{ $pattern = "%02[2]d" }}
    {{ else if eq . "source" }}
      {{ $pattern = "%[3]s" }}
    {{ else if eq . "navigation" }}
      {{ $pattern = "%04[4]d" }}
    {{ end }}
    {{ with $pattern }}
      {{ if gt (len $sortFormat) 0 }}
        {{ $sortFormat = add $sortFormat "__" }}
      {{ end }}
      {{ $sortFormat = add $sortFormat $pattern }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $sortFormat = $defaultSortForamt }}
{{ end }}

{{ $pagesFiltered := slice }}
{{ range $pages }}
  {{ $page := . }}
  {{ $title := partialCached "utils/title" . .Path }}
  {{ $source := .Params.source | default "" }}
  {{ $navigation := index .Params "navigation-order" | default 0 | int }}
  {{ $navigationHide := index .Params "navigation-hide" | default false }}

  {{ if and $filterNavigable $navigationHide }}
    {{ continue }}
  {{ end }}

  {{ if and $filterHasTitle (not $title.name) }}
    {{ continue }}
  {{ end }}

  {{ if and (ne $filterType nil) (ne $filterType .Type) }}
    {{ continue }}
  {{ end }}

  {{ if and (ne $filterLevel nil) (ne $filterLevel $title.level) }}
    {{ continue }}
  {{ end }}

  {{ if and (ne $filterPath nil) (not (hasPrefix .Path $filterPath)) }}
    {{ continue }}
  {{ end }}

  {{ if $filterTraits }}
    {{ $traits := partialCached "pf/getTraits" $page $page.Path }}
    {{ if ne (len (intersect $traits.all $filterTraits)) (len $filterTraits) }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterExcludeTraits }}
    {{ $traits := partialCached "pf/getTraits" $page $page.Path }}
    {{ if gt (len (intersect $traits.all $filterExcludeTraits)) 0 }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if reflect.IsSlice $filterTitleType }}
    {{ $found := false }}
    {{ range $filterTitleType }}
      {{ if eq $filterTitleType $title.type }}
        {{ $found = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $found }}
      {{ continue }}
    {{ end }}
  {{ else if and $filterTitleType (ne $title.type $filterTitleType) }}
    {{ continue }}
  {{ end }}

  {{ if $filterParamsEq }}
    {{ $failed := false }}
    {{ range $filterParamsEq }}
      {{ $param := index $page.Params .key }}
      {{ if ne $param .value }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsIn }}
    {{ $failed := false }}
    {{ range $filterParamsNotIn }}
      {{ $param := index $page.Params .key }}
      {{ if not (collections.In .value $param) }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsHas }}
    {{ $failed := false }}
    {{ range $filterParamsHas }}
      {{ $param := index $page.Params .key }}
      {{ if not (collections.In $param .value) }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsContains }}
    {{ $failed := false }}
    {{ range $filterParamsContains }}
      {{ $param := index $page.Params .key }}
      {{ if not (strings.Contains $param .) }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsNotEq }}
    {{ $failed := false }}
    {{ range $filterParamsNotEq }}
      {{ $param := index $page.Params .key }}
      {{ if eq $param .value }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsNotIn }}
    {{ $failed := false }}
    {{ range $filterParamsNotIn }}
      {{ $param := index $page.Params .key }}
      {{ if collections.In . $param }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsNotHas }}
    {{ $failed := false }}
    {{ range $filterParamsNotHas }}
      {{ $param := index $page.Params .key }}
      {{ if collections.In $param .value }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ if $filterParamsNotContains }}
    {{ $failed := false }}
    {{ range $filterParamsNotContains }}
      {{ $param := index $page.Params .key }}
      {{ if strings.Contains $param . }}
        {{ $failed = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $failed }}
      {{ continue }}
    {{ end }}
  {{ end }}

  {{ $sorter := printf $sortFormat $title.name ($title.level | default 0) $source $navigation }}
  {{ $el := dict "page" . "sorter" $sorter }}
  {{ $pagesFiltered = $pagesFiltered | append $el }}
{{ end }}

{{ $returned := slice }}
{{ range sort $pagesFiltered "sorter" "asc" }}
  {{ $returned = $returned | append .page }}
{{ end }}

{{ return $returned }}
