{{ $result := slice }}
{{ range . }}
  {{ $trait := . }}
  {{ $traitOverrideName := split $trait ":" }}

  {{ $trait = index $traitOverrideName 0 }}

  {{ $traitParts := index (findRESubmatch `^(.*?)(?:\s+(\+?\d+|\[.*\]))?$` $trait) 0 }}
  {{ $traitName := replace (index $traitParts 1) " " "-" }}
  {{ $traitInfo := index $traitParts 2 | replaceRE `^\[(.*)\]$` "$1" }}

  {{ $isSize := false }}
  {{ $isRarity := false }}
  {{ $isNotFound := false }}

  {{ $traitPath := path.Join "tratti" $traitName }}
  {{ $name := $trait }}
  {{ $url := "" }}
  {{ with site.GetPage $traitPath }}
    {{ $title := partialCached "utils/title" . .Path }}
    {{ $name = $title.name }}
    {{ $url = .RelPermalink | replaceRE "/$" "" }}
  {{ else }}
    {{ $name = strings.FirstUpper $name }}
  {{ end }}

  {{ if gt (len $traitOverrideName) 1 }}
    {{ $name = strings.FirstUpper (index $traitOverrideName 1) }}
  {{ end }}

  {{- $displayName := $name -}}
  {{- if $traitInfo -}}
    {{- $displayName = printf "%s %s" $displayName $traitInfo -}}
  {{- end -}}

  {{ $color := "bg-gray-300 dark:bg-gray-600" }}
  {{ if eq $trait "minuscola" "piccola" "media" "grande" "enorme" "mastodontica" }}
    {{ $color = "bg-green-400 dark:bg-green-800" }}
    {{ $isSize = true }}
  {{ else if eq $trait "non comune" }}
    {{ $color = "bg-orange-300 dark:bg-orange-800" }}
    {{ $isRarity = true }}
  {{ else if eq $trait "raro" }}
    {{ $color = "bg-blue-400 dark:bg-blue-800" }}
    {{ $isRarity = true }}
  {{ else if eq $trait "unico" }}
    {{ $color = "bg-purple-400 dark:bg-purple-800" }}
    {{ $isRarity = true }}
  {{ else if not $url }}
    {{ $color = "bg-red-500 dark:bg-red-700" }}
    {{ $isNotFound = true }}
  {{ end }}

  {{ $entry := dict
    "trait" $trait
    "id" $traitName
    "name" $name
    "displayName" $displayName
    "color" $color
  }}
  {{ if $url }}
    {{ $entry = $entry | merge (dict "url" $url) }}
  {{ end }}
  {{ if $traitInfo }}
    {{ $entry = $entry | merge (dict "info" $traitInfo) }}
  {{ end }}
  {{ if $isSize }}
    {{ $entry = $entry | merge (dict "size" true) }}
  {{ end }}
  {{ if $isRarity }}
    {{ $entry = $entry | merge (dict "rarity" true) }}
  {{ end }}
  {{ if $isNotFound }}
    {{ $entry = $entry | merge (dict "notFound" true) }}
  {{ end }}

  {{ $result = $result | append $entry }}
{{ end }}
{{ return $result }}
