{{ $bundledCode := partialCached "utils/execJsBundle" .code .code }}
{{ range $k, $v := .define }}
  {{ $bundledCode = replace $bundledCode $k $v }}
{{ end }}
{{ $result := default nil nil }}

{{ $body := jsonify (dict "code" $bundledCode "timeout" 100) }}
{{ with try (resources.GetRemote "http://localhost:23123/js" (dict "body" $body "method" "post" "key" (printf "execjs-%v-%d" $bundledCode math.Counter))) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else with .Value }}
    {{ $result = . | transform.Unmarshal (dict "format" "json") }}
  {{ else }}
    {{ errorf "Unable to get remote resource  %q" "http://localhost:23123/js" }}
  {{ end }}
{{ end }}

{{ if $result.error }}
  {{ errorf "error executing js: %v" $result.message }}
{{ end }}

{{ return $result.result }}
