{{ $resourceBundle := resources.FromString
  (printf "execute-js-%d.jsx" math.Counter)
  .
}}
{{ $packageJson := resources.Get "internal/package.json" | transform.Unmarshal }}
{{ $externals := slice }}
{{ range $k, $v := $packageJson.devDependencies }}
  {{ $externals = $externals | append $k }}
{{ end }}
{{ range $k, $v := $packageJson.dependencies }}
  {{ $externals = $externals | append $k }}
{{ end }}
{{ $resourceBundle = $resourceBundle | js.Build (dict
  "minify" true
  "format" "cjs"
  "externals" $externals
  "JSX" "automatic"
  "JSXImportSource" "react"
  )
}}
{{/* {{ warnf "%v %v" $externals $packageJson }} */}}
{{ return $resourceBundle.Content }}
