{{- $pages := slice -}}
{{- range . -}}
  {{- if .Param "navigation-hide" -}}
    {{- continue -}}
  {{- end -}}
  {{- $title := partialCached "utils/title" . .Path -}}
  {{- if not $title.name -}}
    {{- continue -}}
  {{- end -}}
  {{- $order := add (.Param "navigation-order" | default 0) 50000 -}}
  {{- $level := add ($title.level | default 0) 500 -}}
  {{- $weight := printf "%05d__%03d__%s" $order $level $title.name -}}
  {{- $pages = $pages | append (dict "page" . "weight" $weight) -}}
{{- end -}}
{{- $ret := slice -}}
{{- range sort $pages "weight" "asc" -}}
  {{- $ret = $ret | append .page -}}
{{- end -}}
{{- return $ret -}}
