{{- $navWidth := "max-w-[90rem]" -}}
<div class="nav-container sticky top-0 z-20 w-full bg-transparent print:hidden">
  <div
    class="backdrop-blur-md bg-background/70 pointer-events-none absolute z-[-1] h-full w-full border-b"
  ></div>

  <nav
    class="mx-auto flex items-center justify-end gap-2 h-16 px-6 {{ $navWidth }}"
  >
    <a
      class="flex items-center hover:opacity-75 ltr:mr-auto rtl:ml-auto"
      href="{{ .Site.Home.RelPermalink }}"
    >
      <div class="relative">
        {{- $logo := resources.Get "images/sf2.png" -}}
        <img
          class="h-14 w-auto max-w-none"
          src="{{ $logo.RelPermalink }}"
          width="{{ $logo.Width }}"
          height="{{ $logo.Height }}"
          alt="Starfinder"
        />
        <span
          class="absolute -bottom-0.5 -right-3 text-sm font-extrabold select-none"
        >
          Italian Database
        </span>
      </div>
    </a>
    {{- $currentPage := . -}}
    {{- range .Site.Menus.main -}}
      {{- if eq .Params.type "search" -}}
        {{- partial "search.html" (dict "params" .Params) -}}
      {{- else -}}
        {{- $link := .URL -}}
        {{- $external := strings.HasPrefix $link "http" -}}
        {{- with .PageRef -}}
          {{- if hasPrefix . "/" -}}
            {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
          {{- end -}}
        {{- end -}}
        {{- if .Params.icon -}}
          <a
            class="p-2 text-current"
            {{ if $external }}target="_blank" rel="noreferer"{{ end }}
            href="{{ $link }}"
            title="{{ or (T .Identifier) .Name | safeHTML }}"
          >
            {{- partial "utils/icon.html" (dict "name" .Params.icon "attributes" "height=24") -}}
            <span class="sr-only"
              >{{ or (T .Identifier) .Name | safeHTML }}</span
            >
          </a>
        {{- else -}}
          {{- $active := or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) -}}
          {{- $activeClass := cond $active "font-medium" "text-gray-600 hover:text-gray-800" -}}
          <a
            title="{{ or (T .Identifier) .Name | safeHTML }}"
            href="{{ $link }}"
            {{ if $external }}target="_blank" rel="noreferer"{{ end }}
            class="text-sm contrast-more:text-gray-700 relative -ml-2 hidden whitespace-nowrap p-2 md:inline-block {{ $activeClass }}"
          >
            <span class="text-center"
              >{{ or (T .Identifier) .Name | safeHTML }}</span
            >
          </a>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- partial "reactComponent" (dict
      "path" "@/components/theme-select.tsx"
      "context" .Page
      )
    -}}
    <a
      href="{{ (partialCached `config` ``).repoURL }}"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-9"
    >
      {{- partial "utils/svg" (slice "images/github.svg") -}}
    </a>
    <button
      type="button"
      aria-label="Menu"
      class="hamburger-menu inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-accent hover:text-accent-foreground dark:hover:bg-accent/50 size-9 md:hidden"
    >
      {{- partial "utils/svg" (slice "images/hamburger.svg" `class="size-5"`) -}}
    </button>
  </nav>
</div>
