<div
  class="mobile-menu-overlay transition-colors duration-800 fixed inset-0 z-10 bg-black/80 dark:bg-black/60 hidden"
></div>

<aside
  class="sidebar-container flex flex-col print:hidden md:top-16 md:shrink-0 md:w-72 md:self-start max-md:[transform:translate3d(0,-100%,0)] md:sticky"
>
  <div
    class="hextra-scrollbar overflow-y-auto overflow-x-hidden p-4 md:pr-0 grow md:h-[calc(100vh-var(--navbar-height)-var(--menu-height))]"
  >
    <ul class="flex flex-col gap-1">
      {{- $current := . -}}
      {{- range .Site.Menus.sidebar.ByWeight -}}
        {{- template "sidebar-menu-item" (dict "item" . "current" $current "depth" 0) -}}
      {{- end -}}
    </ul>
  </div>
</aside>

{{- define "sidebar-menu-item" -}}
  {{- with .item -}}
    <li>
      {{- $activeDescendant := false -}}
      {{- $activeThis := false -}}
      {{- if .Page -}}
        {{- $activeThis = eq $.current.Path .Page.Path -}}
      {{- end -}}
      {{- range .Children -}}
        {{- if and .Page (or ($.current.IsDescendant .Page) (eq $.current.Path .Page.Path)) -}}
          {{- $activeDescendant = true -}}
          {{- break -}}
        {{- end -}}
      {{- end -}}

      {{- $url := .URL -}}
      {{- if not $url -}}
        {{- if .Children -}}
          {{- $url = (index .Children.ByWeight 0).URL -}}
        {{- else -}}
          {{- $url = "#" -}}
        {{- end -}}
      {{- end -}}
      <a
        href="{{- $url | replaceRE `/$` `` -}}"
        class="flex items-center justify-between gap-2 cursor-pointer rounded-sm px-2 py-1.5 text-sm transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
        {{ if $activeThis -}}
          sidebar-active-item font-semibold bg-primary/30
          text-sidebar-foreground hover:bg-primary/50
        {{ else -}}
          text-sidebar-foreground hover:bg-accent hover:text-accent-foreground
        {{- end -}}
        "
      >
        {{- .Name -}}
      </a>
      {{- if .Children -}}
        {{- if or $activeThis $activeDescendant -}}
          <div class="pr-0 overflow-hidden">
            <ul
              class='relative flex flex-col gap-1 py-1 before:absolute before:inset-y-1 before:w-px before:bg-gray-200 before:content-[""] ml-2.5 pl-1.5 before:left-0 dark:before:bg-neutral-800'
            >
              {{- range .Children.ByWeight -}}
                {{- template "sidebar-menu-item" (dict "item" . "current" $.current "depth" (add $.depth 1)) -}}
              {{- end -}}
            </ul>
          </div>
        {{- end -}}
      {{- else if .Page -}}
        {{- template "sidebar-item-tree" (dict "item" .Page "current" $.current "depth" (add $.depth 1)) -}}
      {{- end -}}
    </li>
  {{- end -}}
{{- end -}}

{{- define "sidebar-tree" -}}
  {{- range .pages -}}
    {{- template "sidebar-item" (dict "item" . "current" $.current "depth" $.depth) -}}
  {{- end -}}
{{- end -}}

{{- define "sidebar-item-tree" -}}
  {{- with .item -}}
    {{- $navDisable := index .Params "navigation-disable" -}}
    {{- $activeDescendant := $.current.IsDescendant . -}}
    {{- $activeThis := $.current.Eq . -}}
    {{- $pages := partial "utils/sortedPages" .Pages -}}
    {{- if and (or $activeThis $activeDescendant) $pages -}}
      {{- if not $navDisable -}}
        <div class="pr-0 overflow-hidden">
          <ul
            class='relative flex flex-col gap-1 py-1 before:absolute before:inset-y-1 before:w-px before:bg-gray-200 before:content-[""] ml-2.5 pl-1.5 before:left-0 dark:before:bg-neutral-800'
          >
            {{- template "sidebar-tree" (dict "page" $.item "pages" $pages "current" $.current "depth" (add $.depth 1)) -}}
          </ul>
        </div>
      {{- else -}}
        {{- $activePage := default nil nil -}}
        {{- range $pages -}}
          {{- if or ($.current.IsDescendant .) ($.current.Eq .) -}}
            {{- $activePage = . -}}
          {{- end -}}
        {{- end -}}
        {{- with $activePage -}}
          <div class="pr-0 overflow-hidden">
            <ul
              class='relative flex flex-col gap-1 py-1 before:absolute before:inset-y-1 before:w-px before:bg-gray-200 before:content-[""] ml-2.5 pl-1.5 before:left-0 dark:before:bg-neutral-800'
            >
              {{- template "sidebar-item" (dict "item" . "current" $.current "depth" (add $.depth 1)) -}}
            </ul>
          </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- define "sidebar-item" -}}
  {{- with .item -}}
    <li>
      {{- $activeThis := $.current.Eq . -}}
      {{- $title := partialCached "utils/title" . .Path -}}
      <a
        href="{{- .RelPermalink | replaceRE `/$` `` -}}"
        class="flex items-center justify-between gap-2 cursor-pointer rounded-sm px-2 py-1.5 text-sm transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
        {{ if $activeThis -}}
          sidebar-active-item font-semibold bg-primary/30
          text-sidebar-foreground hover:bg-primary/50
        {{ else -}}
          text-sidebar-foreground hover:bg-accent hover:text-accent-foreground
        {{- end -}}
        "
      >
        {{- $title.name | partial "icons" -}}
      </a>
      {{- template "sidebar-item-tree" (dict "item" . "current" $.current "depth" $.depth) -}}
    </li>
  {{- end -}}
{{- end -}}
