{{- $toc := .Params.toc | default true -}}
{{- $editThisPage := (T "editThisPage") | default "Edit this page" }}
{{- $backToTop := (T "backToTop") | default "Scroll to top" -}}


<nav
  class="order-last max-xl:hidden w-72 shrink-0 print:hidden"
  aria-label="table of contents"
>
  <div
    class="grid grid-rows-[min-content_1fr_min-content] sticky top-(--navbar-height) text-sm max-h-[calc(100vh-var(--navbar-height))]"
  >
    {{- if $toc }}
      {{- with .Fragments.Headings -}}
        <p class="pt-6 px-4 font-semibold tracking-tight">In questa pagina:</p>
        <ul
          class="p-4 overscroll-y-contain overflow-y-auto hyphens-auto hextra-scrollbar hextra-mask"
        >
          {{- template "toc-subheading" (dict "headings" . "level" 0) -}}
        </ul>
      {{- end -}}
      <div class="grid gap-2 py-4 mx-4 border-t">
        {{- $config := (partialCached "config" "") -}}
        {{- $editURL := printf "%s/blob/%s" $config.repoURL $config.repoBranch -}}
        {{- with .File -}}
          {{ $editURL = urls.JoinPath $editURL "site/content" (replace .Path "\\" "/") }}
        {{- end -}}
        {{- with .Params.editURL -}}
          {{- $editURL = . -}}
        {{- end -}}
        <a
          class="text-xs font-medium text-muted-foreground hover:text-foreground"
          href="{{ $editURL }}"
          target="_blank"
          rel="noreferer"
          >Modifica questa pagina</a
        >
      </div>
    {{- end -}}
  </div>
</nav>

{{- define "toc-subheading" -}}
  {{- $headings := .headings -}}
  {{- $level := .level -}}

  {{- if lt $level 6 -}}
    {{- $padding := mul (math.Max (sub $level 1) 0) 2 | int -}}
    {{- $class := cond (eq $level 0) "font-semibold" (printf "ltr:pl-%d rtl:pr-%d" $padding $padding) -}}

    {{- range $headings }}
      {{- $title := .Title | safeHTML | plainify | htmlUnescape -}}
      {{- $title = $title | replaceRE ` - .*$` "" -}}
      {{- if $title }}
        {{- $anchor := (anchorize .ID) | replaceRE `---.*?(-\d+)?$` "$1" | safeURL -}}
        <li class="my-2 scroll-my-6 scroll-py-6">
          <a
            class="{{ $class }} inline-block text-muted-foreground hover:text-foreground w-full break-words"
            href="#{{ $anchor }}"
          >
            {{- $title | partial "icons" }}
          </a>
        </li>
      {{- end -}}
      {{- with .Headings -}}
        {{ template "toc-subheading" (dict "headings" . "level" (add $level 1)) }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
