{{- /*
  available columns:
  - name (sortable)
  - level (sortable)
  - source (sortable)
  - traits
  - traitsRarity
  - traitsNoRarity
  - description
  */
-}}
{{- $pages := slice -}}
{{- $section := .Page -}}
{{- $columns := slice "name" -}}
{{- $sort := slice "name" -}}
{{- with (.Get (cond .IsNamedParams "section" 0)) -}}
  {{- $section = $.Site.GetPage . -}}
{{- end -}}
{{- with .Get (cond .IsNamedParams "columns" 1) -}}
  {{- $columns = split . "," -}}
{{- end -}}
{{- with (.Get (cond .IsNamedParams "sort" 1)) -}}
  {{- $sort = split . "," -}}
{{- end -}}
{{- with $section -}}
  {{- range .Pages -}}
    {{- $page := . -}}
    {{- $title := partialCached "utils/title" . .Path -}}
    {{- $traits := .Params.traits | default slice -}}
    {{- $data := slice -}}
    {{- $sorter := "" -}}
    {{- range $columns -}}
      {{- if eq . "name" -}}
        {{- $data = $data | append $title.name -}}
      {{- else if eq . "source" -}}
        {{- $data = $data | append $page.Params.source -}}
      {{- else if eq . "level" -}}
        {{- $data = $data | append $title.level -}}
      {{- else if eq . "traits" -}}
        {{- $data = $data | append (dict "value" $traits) -}}
      {{- else if eq . "traitsRarity" -}}
        {{- $data = $data | append (dict "value" (slice (partialCached "traitsRarity" $traits $traits))) -}}
      {{- else if eq . "traitsNoRarity" -}}
        {{- $data = $data | append (dict "value" (slice (partialCached "traitsNoRarity" $traits $traits))) -}}
      {{- end -}}
    {{- end -}}
    {{- range $sort -}}
      {{- if eq . "name" -}}
        {{- $sorter = add $sorter "___" $title.name -}}
      {{- else if eq . "source" -}}
        {{- $sorter = add $sorter "___" $page.Params.source -}}
      {{- else if eq . "level" -}}
        {{- $sorter = add $sorter "___" (printf "%05d" $title.level) -}}
      {{- end -}}
    {{- end -}}
    {{- $el := dict
      "page" $page
      "data" $data
      "sorter" $sorter
    -}}
    {{- $pages = $pages | append $el -}}
  {{- end -}}
{{- end -}}
<table>
  <thead>
    <tr>
      {{- range $columns -}}
        <th>
          {{- if eq . "name" -}}
            Nome
          {{- else if eq . "source" -}}
            Origine
          {{- else if eq . "level" -}}
            Livello
          {{- else if eq . "traits" -}}
            Tratti
          {{- else if eq . "traitsRarity" -}}
            Rarità
          {{- else if eq . "traitsNoRarity" -}}
            Tratti
          {{- end -}}
        </th>
      {{- end -}}
    </tr>
  </thead>
  <tbody>
    {{- range sort $pages "sorter" "asc" -}}
      {{- $page := .page -}}
      {{- $data := .data -}}
      <tr>
        {{- range $i, $c := $columns -}}
          {{- $v := index $data $i -}}
          <td>
            {{- if eq $c "name" -}}
              <a href="{{- $page.RelPermalink | replaceRE `/$` `` -}}">
                {{- $v -}}
              </a>
            {{- else if eq $c "source" -}}
              {{- $v -}}
            {{- else if eq $c "level" -}}
              {{- $v -}}
            {{- else if eq $c "traits" -}}
              {{- partialCached "traits" $v.value $v.value -}}
            {{- else if eq $c "traitsRarity" -}}
              {{- partialCached "traits" $v.value $v.value -}}
            {{- else if eq $c "traitsNoRarity" -}}
              {{- partialCached "traits" $v.value $v.value -}}
            {{- end -}}
          </td>
        {{- end -}}
      </tr>
    {{- end -}}
  </tbody>
</table>
