{{- $included := false -}}
{{- with .Page.Store.Get "includeContext" -}}
  {{- $included = gt (len .) 0 -}}
{{- end -}}
{{- $type := "rule" -}}
{{- if hasPrefix .Page.Type "pf" -}}
  {{- $type = strings.Substr .Page.Type 2 -}}
{{- end -}}
{{- $data := dict
  "type" $type
  "included" $included
  "params" .Page.Params
  "page" .Page
-}}
{{- $tpl := print "{" "{ cond (" (.Get 0) ") `1` `0` }" "}" -}}
{{- $key := xxhash (print $tpl .Page.Path math.Counter $included) }}
{{- $r := resources.FromString $key $tpl -}}
{{- $r = $r | resources.ExecuteAsTemplate $key $data -}}
{{- if eq $r.Content "1" -}}
  {{- .InnerDeindent -}}
{{- end -}}
