{{- $source := "~" -}}
{{- if isset .Params "source" -}}
  {{- $source = transform.Unmarshal (dict "format" "yaml") .Params.source -}}
{{- end -}}
{{- $filter := dict -}}
{{- if isset .Params "filter" -}}
  {{- $filter = transform.Unmarshal (dict "format" "yaml") .Params.filter -}}
{{- end -}}
{{- $sort := slice -}}
{{- if isset .Params "sort" -}}
  {{- $sort = transform.Unmarshal (dict "format" "yaml") .Params.sort -}}
{{- end -}}
{{- $level := 1 -}}
{{- if isset .Params "level" -}}
  {{- $level = int .Params.level -}}
{{- end -}}
{{- $space := false -}}
{{- if isset .Params "space" -}}
  {{- $space = true -}}
{{- end -}}
{{- $template := "" -}}
{{- if isset .Params "template" -}}
  {{- $template = .Params.template -}}
{{- end -}}
{{- $templateData := dict -}}
{{- if isset .Params "templateData" -}}
  {{- $templateData = transform.Unmarshal (dict "format" "yaml") .Params.templateData -}}
{{- end -}}
{{- partial "shortcodes/includeAll" (dict
  "context" .Page
  "source" $source
  "filter" $filter
  "sort" $sort
  "level" $level
  "space" $space
  "template" $template
  "templateData" $templateData
  )
-}}
