{{- if not .IsNamedParams -}}
  {{- errorf "require named parameters" -}}
{{- end -}}

{{- $source := default nil nil -}}
{{- if and .IsNamedParams (isset .Params "source") -}}
  {{- $source = transform.Unmarshal (dict "format" "yaml") .Params.source -}}
{{- end -}}

{{- $rulesSource := default nil nil -}}
{{- if and .IsNamedParams (isset .Params "rulesSource") -}}
  {{- $rulesSource = transform.Unmarshal (dict "format" "yaml") .Params.rulesSource -}}
{{- end -}}

{{- $level := 1 -}}
{{- if isset .Params "level" -}}
  {{- $level = .Get "level" -}}
{{- end -}}

{{- $template := "" -}}
{{- if and .IsNamedParams (isset .Params "template") -}}
  {{- $template = .Params.template -}}
{{- end -}}

{{- $originalPage := index (.Page.Store.Get "includeContext") 0 | default .Page }}

{{- if hasPrefix $originalPage.Path "/regole" -}}
  {{- if $rulesSource -}}
    {{- partial "shortcodes/includeAll" (dict
      "context" .Page
      "source" $rulesSource
      "filter" dict
      "sort" slice
      "level" $level
      "space" false
      "template" $template
      "templateData" dict
      )
    -}}
  {{- end -}}
{{- else -}}
  {{- if $source -}}
    {{- partial "shortcodes/includeAll" (dict
      "context" .Page
      "source" $source
      "filter" dict
      "sort" slice
      "level" $level
      "space" false
      "template" $template
      "templateData" dict
      )
    -}}
  {{- end -}}
{{- end -}}
