{{- $pages := slice -}}
{{- $section := .Page -}}
{{- with .Get 0 -}}
  {{- $section = $.Site.GetPage . }}
{{- end -}}
{{- with $section -}}
  {{- range .Pages -}}
    {{- $title := partialCached "utils/title" . .Path -}}
    {{- $traits := partialCached "pf/getTraits" . .Path -}}
    {{- $desc := .RawContent | replaceRE `(?:^|[\s\S]*\n)# .*\n\n([\s\S]+?)\n\n[\s\S]*` `${1}` -}}
    {{- $el := dict
      "title" $title.name
      "desc" $desc
      "page" .
      "traits" $traits
      "sorter" (printf "%s" $title.name)
    -}}
    {{- $pages = $pages | append $el -}}
  {{- end -}}
{{- end -}}
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Rarità</th>
        <th width="50%">Descrizione</th>
        <th>Origine</th>
      </tr>
    </thead>
    <tbody>
      {{- range sort $pages "sorter" "asc" -}}
        <tr>
          <td>
            <a href="{{ .page.RelPermalink | replaceRE `/$` `` }}">
              {{- .title -}}
            </a>
          </td>
          <td>
            {{- partialCached "trait" .traits.rarity .traits.rarity -}}
          </td>
          <td>
            <div class="line-clamp-3">
              {{- .desc | $.Page.RenderString -}}
            </div>
          </td>
          <td>{{ index .page.Params "source" }}</td>
        </tr>
      {{- end -}}
    </tbody>
  </table>
</div>
