{{- $section := .Page -}}
{{- $feats := collections.NewScratch -}}
{{- range $i := 20 -}}
  {{- $feats.Set (string (add $i 1)) slice -}}
{{- end -}}

{{- range $section.Pages -}}
  {{- $title := partialCached "utils/title" . .Path -}}
  {{- $entry := dict "name" $title.name "page" . -}}
  {{- $level := string ($title.level | default 1) -}}
  {{- $list := $feats.Get $level -}}
  {{- $feats.Set $level (append $list (slice $entry)) -}}
{{- end -}}

{{- $rows := slice -}}
{{- range $level, $entries := $feats.Values -}}
  {{- if gt (len $entries) 0 -}}
    {{- $row := collections.Sort $entries "name" -}}
    {{- $rows = $rows | append (slice (dict "level" $level "value" $row )) -}}
  {{- end -}}
{{- end -}}

{{- range collections.Sort $rows "level" -}}
  {{- "\n\n" -}}
  {{- printf `## %s° Livello%s{.level-header}` .level "\n" -}}
  {{- "\n\n" -}}
  <div class="border-primary/50 border-b mt-0.5!"></div>
  {{- "\n\n" -}}
  {{- range .value -}}
    {{ "\n\n<div class=\"my-5\">\n\n" | safeHTML }}
    {{- partial "shortcodes/include" (dict
      "page" .page
      "context" $.Page
      "level" 2
      "template" ""
      "title" ""
      )
    -}}
    {{ "\n\n</div>\n\n" | safeHTML }}
  {{- end -}}
{{- end -}}
