{{- $section := .Page -}}
{{- $feats := collections.NewScratch -}}
{{- range $i := 20 -}}
  {{- $feats.Set (string (add $i 1)) slice -}}
{{- end -}}

{{- range $section.Pages -}}
  {{- $title := partialCached "utils/title" . .Path -}}
  {{- $entry := dict "name" $title.name "page" . -}}
  {{- $level := string ($title.level | default 1) -}}
  {{- $list := $feats.Get $level -}}
  {{- $feats.Set $level (append $list (slice $entry)) -}}
{{- end -}}

{{- $rows := slice -}}
{{- range $level, $entries := $feats.Values -}}
  {{- if gt (len $entries) 0 -}}
    {{- $row := collections.Sort $entries "name" -}}
    {{- $rows = $rows | append (slice (dict "level" $level "value" $row )) -}}
  {{- end -}}
{{- end -}}

{{- range collections.Sort $rows "level" -}}
  <div class="bg-primary/50 px-2 py-1 rounded-t-md font-bold">
    {{ .level }}° Livello
  </div>
  <hr class="border-primary/50 mt-[2px]!" />
  {{- range .value -}}
    {{- "\n\n" -}}
    {{- partial "shortcodes/include" (dict
      "page" .page
      "context" $.Page
      "level" 1
      "template" ""
      "title" ""
      )
    -}}
    {{- "\n\n" -}}
  {{- end -}}
{{- end -}}
