{{ $globs := slice }}
{{ range resources.Match "sources/*/defs.{yaml,json}" }}
  {{ $path := .String }}
  {{ $book := index (index (findRESubmatch `^/sources/([a-z\-]+)/` $path 1) 0) 1 }}
  {{ range $type, $v := (transform.Unmarshal .) }}
    {{ $typeGlobs := slice }}
    {{ range $v }}
      {{ $glob := "" }}
      {{ $negate := false }}
      {{ if hasPrefix . "!" }}
        {{ $glob = printf "regole/%s/%s" $book (substr . 1) }}
        {{ $negate = true }}
      {{ else }}
        {{ $glob = printf "regole/%s/%s" $book . }}
      {{ end }}
      {{ $regex := partial "utils/globToRegex" $glob }}
      {{ $typeGlobs = $typeGlobs | append (dict
        "glob" .
        "regex" $regex
        "negate" $negate
        )
      }}
    {{ end }}
    {{ $globs = $globs | append (dict
      "type" $type
      "globs" (sort $typeGlobs "negate" "desc")
      )
    }}
  {{ end }}
{{ end }}

{{/* {{ range $globs }}
  {{ warnf "%s:" .type }}
  {{ range .globs }}
    {{ warnf " - %s %s %v" .glob .regex .negate }}
  {{ end }}
{{ end }} */}}

{{ $addedPages := collections.NewScratch }}
{{ $addedResources := collections.NewScratch }}

{{ range resources.Match "sources/**/*.md" }}
  {{ $path := .String | replaceRE `(\.md$|/_index\.md$)` "" | replaceRE `^/sources/` "regole/" }}
  {{ $book := index (index (findRESubmatch `^regole/([a-z\-]+)/` $path 1) 0) 1 }}

  {{ $splitContent := findRESubmatch `^(?:---\r?\n\s*([\s\S]*?)\s*\r?\n---\r?\n)?\s*([\s\S]*)$` .Content 1 }}
  {{ $rawFrontmatter := (index (index $splitContent 0) 1) }}
  {{ $content := (index (index $splitContent 0) 2) }}

  {{ $frontmatter := transform.Unmarshal (dict "format" "yaml") $rawFrontmatter }}

  {{ $config := (partialCached "config" "") }}
  {{ $editURL := printf "%s/blob/%s" $config.repoURL $config.repoBranch }}
  {{ $editURL = urls.JoinPath $editURL .String }}

  {{ $params := merge $frontmatter (dict "editURL" $editURL) }}

  {{ $title := partial "utils/titleMd" (dict "content" $content) }}
  {{ $kind := cond (hasSuffix .String "_index.md") "section" "page" }}
  {{ $kind = "section" }}
  {{ $pftype := default nil nil }}
  {{ $type := "page" }}

  {{ if isset $params "type" }}
    {{ $pftype = $params.type }}
    {{ $type = print "pf" .type }}
  {{ else }}
    {{ $found := false }}
    {{ range $g := $globs }}
      {{ range $g.globs }}
        {{ if findRE .regex $path }}
          {{ if .negate }}
            {{ break }}
          {{ end }}
          {{ $found = true }}
          {{ $pftype = $g.type }}
          {{ $type = print "pf" $g.type }}
          {{ break }}
        {{ end }}
      {{ end }}
      {{ if $found }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $canonicalPath := partial "contentAdapterPathByType" (dict "path" $path "type" $pftype "params" $params) }}
  {{ if $canonicalPath }}
    {{ if isset $params "slug" }}
      {{ $pathDir := path.Dir $canonicalPath }}
      {{ $canonicalPath = path.Join $pathDir $params.slug }}
    {{ end }}
    {{ $params = merge $params (dict "canonicalURL" $canonicalPath) }}
  {{ end }}

  {{/* if $pftype }}
    {{ warnf "%s %s" $path $canonicalPath }}
  {{ end */}}

  {{ $params = merge $params (dict "parsedTitle" $title) }}

  {{ partial "contentAdapter/addPage" (dict
    "context" $
    "addedPages" $addedPages
    "content" $content
    "kind" $kind
    "type" $type
    "path" $path
    "params" $params
    )
  }}

  {{ if $canonicalPath }}
    {{ $variants := $addedResources.Get $canonicalPath | default (slice) }}
    {{ $variant := dict
      "original" (dict "path" $path)
      "path" $canonicalPath
      "type" $pftype
      "kind" $kind
      "content" $content
      "params" $params
      "title" $title
    }}
    {{ $variants := $variants | append $variant }}
    {{ $addedResources.Set $canonicalPath $variants }}
  {{ end }}
{{ end }}

{{ range $k, $v := $addedResources.Values }}
  {{ if gt (len $v) 1 }}
    {{ warnf "duplicate page: %q" $k }}
    {{ range $v }}
      {{ warnf "- %q" .original.path }}
    {{ end }}
  {{ end }}
{{ end }}

{{ range $k, $v := $addedResources.Values }}
  {{ with index $v 0 }}
    {{ $content := .content }}

    {{ partial "contentAdapter/addPage" (dict
      "context" $
      "addedPages" $addedPages
      "content" $content
      "kind" .kind
      "type" (print "pf" .type)
      "path" .path
      "params" .params
      )
    }}

    {{ if eq .type "class" }}
      {{ $featsPagePath := path.Join .original.path "talenti" }}
      {{ if .params.featsPage }}
        {{ $featsPagePath = cond (hasPrefix .params.featsPage "/") .params.featsPage (path.Join .original.path .params.featsPage) }}
      {{ end }}
      {{ $featsPage := $addedPages.Get $featsPagePath }}
      {{ if $featsPage }}
        {{ $class := index (split .path "/" | last 1) 0 }}
        {{ $featsPageContent := $featsPage.content.value }}
        {{ $replacement := printf `$1 featTable traits="%s" $2` $class }}
        {{ $featsPageContent = $featsPageContent |
          replaceRE `(\{\{<)\s*rulesFeatTable\s*(>\}\})` $replacement
        }}
        {{ partial "contentAdapter/addPage" (dict
          "context" $
          "addedPages" $addedPages
          "content" $featsPageContent
          "kind" $featsPage.kind
          "type" $featsPage.type
          "path" (printf "%s/talenti" .path)
          "params" $featsPage.params
          )
        }}
      {{ else }}
        {{ warnf "missing feats page for class at %v (%v)" .path $featsPagePath }}
      {{ end }}
    {{ else if eq .type "ancestry" }}
      {{ $featsPagePath := path.Join .original.path "talenti" }}
      {{ if .params.featsPage }}
        {{ $featsPagePath = cond (hasPrefix .params.featsPage "/") .params.featsPage (path.Join .original.path .params.featsPage) }}
      {{ end }}
      {{ $featsPage := $addedPages.Get $featsPagePath }}
      {{ if $featsPage }}
        {{ $featTraits := .params.featTraits | default .params.traits | default (slice) }}
        {{ $featsPageContent := $featsPage.content.value }}
        {{ $replacement := printf `$1 featTable traits="%s" $2` (delimit $featTraits ",") }}
        {{ $featsPageContent = $featsPageContent |
          replaceRE `(\{\{%)\s*rulesFeatList\s*(%\}\})` $replacement
        }}

        {{ partial "contentAdapter/addPage" (dict
          "context" $
          "addedPages" $addedPages
          "content" $featsPageContent
          "kind" $featsPage.kind
          "type" $featsPage.type
          "path" (path.Join .path "talenti")
          "params" $featsPage.params
          )
        }}
      {{ else }}
        {{ warnf "missing feats page for ancestry at %v (%v)" .path $featsPagePath }}
      {{ end }}

      {{ $heritagesPagePath := path.Join .original.path "lignaggi" }}
      {{ if .params.heritagesPage }}
        {{ $heritagesPagePath = cond (hasPrefix .params.heritagesPage "/") .params.heritagesPage (path.Join .original.path .params.heritagesPage) }}
      {{ end }}
      {{ $heritagesPage := $addedPages.Get $heritagesPagePath }}
      {{ if $heritagesPage }}
        {{ partial "contentAdapter/addPage" (dict
          "context" $
          "addedPages" $addedPages
          "content" $heritagesPage.content.value
          "kind" $heritagesPage.kind
          "type" $heritagesPage.type
          "path" (path.Join .path "lignaggi")
          "params" $heritagesPage.params
          )
        }}
      {{ else }}
        {{ warnf "missing heritage page for ancestry at %v (%v)" .path $heritagesPagePath }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "partials/contentAdapterPathByType" }}
  {{ $base := replaceRE `^.*/([a-z\-]+)$` "$1" .path }}
  {{ $path := "" }}
  {{ if .type }}
    {{ $pathTemplate := (index (partialCached "config" "").types .type).path }}
    {{ if not $pathTemplate }}
      {{ errorf "type %v not found in config.yaml" .type }}
    {{ end }}

    {{ $context := (dict "base" $base "params" .params) }}
    {{ $pathExecuted := printf "%s/%s.txt" .path .type }}
    {{ $path = (resources.FromString .type $pathTemplate | resources.ExecuteAsTemplate $pathExecuted $context).Content }}
  {{ end }}
  {{ return $path }}
{{ end }}

{{ define "partials/contentAdapterConvertGlob" }}
  {{ return (. | replaceRE `\*\*` ".+?" | replaceRE `\*` "[^/]+?" ) }}
{{ end }}

{{ define "partials/contentAdapter/addPage" }}
  {{ $newPage := dict
    "content" (dict "mediaType" "text/markdown" "value" .content)
    "kind" .kind
    "type" (.type | default "page")
    "path" .path
    "params" (.params | default dict)
    "outputs" (slice "html" "json")
  }}
  {{ .addedPages.Set .path $newPage }}
  {{ .context.AddPage $newPage }}
{{ end }}
