{{ if .IsHome }}
  {{ $output := slice }}
  {{ range site.AllPages }}
    {{ $permalink := .RelPermalink | replaceRE "^/|/$" "" }}
    {{ if and .Params.canonicalURL (ne $permalink .Params.canonicalURL) }}
      {{/* {{ warnf "%v %v" $permalink .Params.canonicalURL }} */}}
      {{ continue }}
    {{ end }}

    {{ $title := partialCached "utils/title" . .Path }}
    {{ $outDict := dict
      "name" $title.name
      "url" (.RelPermalink | replaceRE `/$` ``)
      "content" (.Content | partial "icons" | transform.HTMLUnescape)
    }}
    {{ if hasPrefix .Type "pf" }}
      {{ $kind := .Type | replaceRE "^pf" "" }}
      {{ $outDict = $outDict | merge (dict "kind" $kind) }}
    {{ else if hasPrefix .Path "/regole/" }}
      {{ $outDict = $outDict | merge (dict "kind" "rule") }}
    {{ else }}
      {{ continue }}
    {{ end }}

    {{ if .Params.traits }}
      {{ $traits := partialCached "pf/getTraitsData" .Params.traits .Params.traits }}
      {{ $outDict = $outDict | merge (dict "traits" $traits) }}
    {{ end }}
    {{ if $title.level }}
      {{ $outDict = $outDict | merge (dict "level" $title.level) }}
    {{ end }}
    {{ if $title.typeLower }}
      {{ $outDict = $outDict | merge (dict "type" $title.typeLower) }}
    {{ end }}
    {{ if .Params.source }}
      {{ $outDict = $outDict | merge (dict "source" .Params.source) }}
    {{ end }}
    {{ if .Params.background }}
      {{ $outDict = $outDict | merge (dict "background" .Params.background) }}
    {{ end }}
    {{ if eq .Type "pfheritage" }}
      {{ $match := findRESubmatch `([^/]+)/lignaggi` .Path 1 }}
      {{ with index $match 0 }}
        {{ $outDict = $outDict | merge (dict "heritageAncestry" (index . 1)) }}
      {{ end }}
    {{ end }}
    {{ $output = $output | append $outDict }}
  {{ end }}

  {{ $outPath := printf "data/database.json" }}
  {{ $r := $output | jsonify (dict "indent" "  " "noHTMLEscape" true) | resources.FromString $outPath }}
  {{ $r.Publish }}
{{ end }}
{{ return "" }}
