{{ if .IsHome }}
  {{ $output := slice }}
  {{ range site.AllPages }}
    {{ $permalink := .RelPermalink | replaceRE "/$" "" }}
    {{ if and .Params.canonicalURL (ne $permalink .Params.canonicalURL) }}
      {{ continue }}
    {{ end }}

    {{ $title := partialCached "utils/title" . .Path }}
    {{ $outDict := collections.NewScratch }}
    {{ $outDict.Set "name" $title.name }}
    {{ $outDict.Set "url" (.RelPermalink | replaceRE `/$` ``) }}
    {{ $outDict.Set "content" (.Content | partial "icons" | transform.HTMLUnescape) }}

    {{ if hasPrefix .Type "pf" }}
      {{ $kind := .Type | replaceRE "^pf" "" }}
      {{ $outDict.Set "kind" $kind }}
    {{ else if hasPrefix .Path "/regole/" }}
      {{ $outDict.Set "kind" "rule" }}
    {{ else }}
      {{ continue }}
    {{ end }}

    {{ if .Params.traits }}
      {{ $traits := partialCached "pf/getTraitsData" .Params.traits .Params.traits }}
      {{ $outDict.Set "traits" $traits }}
    {{ end }}
    {{ if $title.level }}
      {{ $outDict.Set "level" $title.level }}
    {{ end }}
    {{ if $title.typeLower }}
      {{ $outDict.Set "type" $title.typeLower }}
    {{ end }}
    {{ if .Params.source }}
      {{ $outDict.Set "source" .Params.source }}
    {{ end }}
    {{ if .Params.background }}
      {{ $outDict.Set "background" .Params.background }}
    {{ end }}
    {{ if eq .Type "pfheritage" }}
      {{ $match := findRESubmatch `([^/]+)/lignaggi` .Path 1 }}
      {{ with index $match 0 }}
        {{ $outDict.Set "heritageAncestry" (index . 1) }}
      {{ end }}
    {{ end }}
    {{ $output = $output | append $outDict.Values }}
  {{ end }}

  {{ $outPath := printf "data/database.json" }}
  {{ $r := $output | jsonify (dict "indent" "  " "noHTMLEscape" true) | resources.FromString $outPath }}
  {{ $r.Publish }}
{{ end }}
{{ return "" }}
