{{- $source := .Params.source -}}
{{- $originalSrd := index .Params "original-srd" -}}
{{- if or $source $originalSrd -}}
  <div class="source">
    {{- if $source -}}
      <em>{{ $source }}</em>
    {{- end -}}
    {{- if and $source $originalSrd }}{{ " - " }}{{ end -}}
    {{- if $originalSrd -}}
      {{- $href := $originalSrd -}}
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="{{ $href }}"
        class="text-muted-foreground"
      >
        <img
          class="inline-block w-5 h-5 m-0 pr-1 box-content opacity-70 not-prose"
          src="https://2e.aonprd.com/Images/NethysMask.png"
        />
        {{- index .Params "original-name" | default (partialCached "utils/title" . .Path).name -}}
      </a>
    {{- end -}}
  </div>
  {{ "\n" }}
{{- end -}}
