<!doctype html>
<html
  lang="{{ default .Site.Language.Lang .Site.LanguageCode }}"
  dir="{{ default `ltr` .Site.Language.LanguageDirection }}"
>
  {{- partial "layout/head" . -}}
  <body>
    {{- partial "layout/navbar" . -}}
    {{- template "main" . -}}
  </body>
</html>
{{- define "main" -}}
  {{- $navWidth := "max-w-[90rem]" -}}
  <div class="mx-auto flex {{ $navWidth }}">
    {{- partial "layout/sidebar" . -}}
    {{- partial "layout/toc" . -}}
    <article
      class="w-full break-words flex min-h-[calc(100vh-4rem)] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]"
    >
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 lg:px-8">
        {{- partial "breadcrumb.html" . -}}
        <div
          class="prose prose-gray dark:prose-invert max-w-none prose-hr:my-4 prose-a:font-normal prose-h1:font-bold prose-h2:font-bold prose-h3:font-bold prose-h4:font-bold prose-h5:font-bold"
        >
          {{- partialCached "renderPage" . . -}}
        </div>
        <div class="mt-16"></div>
        {{- partialCached "layout/pager" . . -}}
      </main>
    </article>
  </div>
{{- end -}}

{{- partial "forEachPage" . -}}
