{{- $anchor := .Anchor | replaceRE `---.*?(-\d+)?$` "$1" | safeURL -}}
{{- $text := split .Text " - " -}}

{{- $index := -1 }}
{{- if isset .Attributes "index" -}}
  {{- $index = int .Attributes.index }}
{{- else -}}
  {{- $headings := partialCached "utils/headingsFlatList" .PageInner.Fragments .PageInner.Path -}}
  {{- range $i, $h := $headings -}}
    {{- if eq $h.ID $.Anchor -}}
      {{- $index = $i -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $included := not (.PageInner.Eq .Page) }}
{{- $isTitle := or .Attributes.title (eq $index 0) -}}
{{- $isStatblock := partialCached "pf/isStatblock" .PageInner.Type .PageInner.Type -}}
{{- $isInnerStatblock := eq .PageInner.Type "pfmonster" -}}

{{- $originalLevel := .Attributes.level | default .Level | int -}}

{{- $appendSource := and (or (not $included) $isStatblock) $isTitle -}}
{{- $appendTraits := cond $isInnerStatblock (eq $originalLevel 2) $isTitle -}}

{{- $sbHeading := or .Attributes.statblock (cond $isStatblock $isTitle (cond $isInnerStatblock (eq $originalLevel 2) false)) -}}

{{- $traits := .PageInner.Params.traits -}}
{{- with .Attributes.traits -}}
  {{- $traits = transform.Unmarshal (dict "format" "yaml") .Attributes.traits -}}
{{- end -}}

{{- if and $included $isTitle -}}
  {{- $parentContents := .Page.RawContent | replaceRE `^---\r?\n\s*([\s\S]*?)\s*\r?\n---\r?\n\s*` "" }}
  {{- $hasInclude := index (index (findRESubmatch `^\{\{%\s*include\s+(.*?)\s*%\}\}` $parentContents 1) 0) 1 -}}
  {{- if $hasInclude -}}
    {{- $page := $hasInclude | replaceRE `^(?:|[\s\S]*page=)"(.*?)"[\s\S]*$` "$1" -}}
    {{- if not (hasPrefix $page "/") -}}
      {{ $page = path.Join .Page.Path $page }}
    {{- end -}}
    {{- $titlePage := site.GetPage $page -}}
    {{- if eq $titlePage.Path .PageInner.Path -}}
      {{- $appendSource = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $class := "flex" }}
{{- if $sbHeading -}}
  {{- $class = add $class " statblock-title" -}}
{{- end -}}
{{- with .Attributes.class -}}
  {{- $class = add $class " " . -}}
{{- end -}}

<h{{ .Level }} class="{{ $class }}">
  <span class="absolute -mt-20" id="{{ $anchor }}"></span>
  <span class="flex items-center flex-1">
    {{- if and $isTitle $included -}}
      {{- $url := .PageInner.Params.canonicalURL | default .PageInner.RelPermalink | replaceRE "/$" "" -}}
      <a href="{{ $url }}" class="no-underline hover:underline{{ if not $sbHeading }} font-[weight:inherit]!{{ end }}">
    {{- end -}}
    <span>{{- (index $text 0) | safeHTML -}}</span>
    {{- if eq .Level 1 -}}
      </a>
    {{- end -}}
    <a href="#{{ $anchor }}" class="not-prose heading-anchor"></a>
  </span>
  </span>
  {{- if gt (len $text) 1 -}}
    <span>{{ index $text 1 }}</span>
  {{- end -}}
</h{{ .Level }}>

{{- if $appendTraits -}}
  <div class="title-traits">
    {{- if .PageInner.Params.traits -}}
      {{- partialCached "traits" .PageInner.Params.traits .PageInner.Params.traits -}}
    {{- end -}}
  </div>
{{- end -}}

{{- if $appendSource -}}
  {{- partial "source" .PageInner -}}
{{- end -}}
